<div layout:fragment="content" layout:decorator="layout">
	<div class="container">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 th:text=${event}></h3>
			</div>
			<div th:if="${#lists.isEmpty(participants)}" class="panel-body">
				<p> Il n'y a pas de participants pour cet événement.</p>
			</div>
			<div th:if="${not #lists.isEmpty(participants)}" class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>N°</td>
							<td>Name</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="participant, iter : ${participants}">
							<td th:text="${iter.index +1}"></td>
							<td th:text="${participant.name}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
