<div layout:fragment="content" layout:decorator="layout">
	<div class="container">

		<div class="panel panel-info">
			<div class="panel-heading">
				<div>Event list</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td width="50px">ID</td>
							<td width="100px">Date</td>
							<td width="70px">Time</td>
							<td>Description</td>
							<td width="50px">Participants</td>
							<td width="100px" align="right"><span class="glyphicon glyphicon-cog"></span></td>
							<td width="15px">Delete</td>
						</tr>
					</thead>
					<tbody>

						<tr th:each="event : ${events}">
							<td th:text="${event.id}">001</td>
							<td th:text="${#temporals.format(event.date, 'dd-MM-yyyy')}">2000-02-01</td>
							<td th:text="${#temporals.format(event.date, 'HH:mm')}">18:00</td>
							<td th:text="${event.description}">Basic description</td>
							<td th:text="${#lists.size(event.users)}"></td>
							<td>
								<div class="btn-group">
								
									<!-- Facade Action button -->
									<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false"> Action <span class="caret"></span>
									</button>

									<div class="dropdown-menu">

										<!-- Edit Button -->
										<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal" data-id="${event.id}" value="Edit"
											name="Edit">Edit</button>
											
										<!-- DisplayList Button -->
										<form th:action="@{/displayEvent/{id}(id=${event.id})}"  method="post">
											<button type="submit" name="Display" value="Display" class="btn btn-primary btn-block">Display Participants</button>
										</form>
						
									</div>
								</div>
							</td>
							<td>
								<form th:action="@{/deleteEvent/{id}(id=${event.id})}" method="post">
									<button type="submit"  class="glyphicon glyphicon-trash btn-sm btn-primary"></button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		    <!-- Pagination Bar -->
    <div th:fragment='paginationbar'>
        <div>
            <ul class='pagination pagination-centered'>
                <li th:class="${page.firstPage}?'disabled':''">
                <span th:if='${page.firstPage}'>First</span>
                <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>First</a>
                </li>
                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                <span th:if='${not page.hasPreviousPage}'>«</span>
                <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'>«</a>
                </li>
                <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                <span th:if='${item.current}' th:text='${item.number}'>1</span>
                <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
                </li>
                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                <span th:if='${not page.hasNextPage}'>»</span>
                <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>»</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''">
                <span th:if='${page.lastPage}'>Last</span>
                <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last</a>
                </li>
            </ul>
        </div>
    </div>
	</div>
</div>

<!-- 			 Modal -->
									
<div id="myModal" class="modal fade" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">

<!-- 			 Modal content -->
											
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
			<form id="edit-form" th:action="@{/modifyEvent/}" method="POST" name="editform">
	
				<div class="modal-body">
					<div class="form-group">
						<label for="id" class="control-label">id:</label>
						<input type="number" class="form-control" id="recipient-name" name="id" placeholder="12">
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Date:</label>
						<input type="datetime-local" class="form-control" id="recipient-name" name="date" placeholder="2020 19 12 15 00">
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">Description:</label>
						<textarea class="form-control" id="message-text" name="description" placeholder="Réunion commerciale"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" name="Update" value="Update" class="btn btn-primary">Send modifications</button>
				</div>
			</form>
	
	</div>


	</div>
</div>
									
					