<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:sec="http://www.springframework.org/security/tags">
<head>
<title>Chatbot !</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<link href="../static/css/styles.css" th:href="@{/css/styles.css}"
	rel="stylesheet" media="screen" />
<link href="http://localhost:8080/css/bootstrap.min.css" rel="stylesheet">

<!-- <link href="bootstrap.css" rel="stylesheet"> -->
<!-- <link href="bootstrap-switch.css" rel="stylesheet"> -->
<!-- <script src="jquery.js"></script> -->
<!-- <script src="bootstrap-switch.js"></script> -->



</head>
<body style="padding:10px;
   padding-bottom:100px;   /* Height of the footer */">


	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/home}">ChatBot Configuration</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/functions}">Functions</a></li>
					<li><a th:href="@{/users}">Users and Events</a></li>
					<li><a th:href="@{/chathistory}">Chat History</a></li>
				</ul>
       			<ul class="nav navbar-nav navbar-right">
      				<li>
      						<a sec:authorize="isAnonymous()" th:href="@{/login}">
      						<span class="glyphicon glyphicon-log-in"></span> Login</a>
      				</li>
      				<li>
      					<a sec:authorize="isAuthenticated()" th:href="@{/logout}">
      					<span class="glyphicon glyphicon-log-out"></span> Logout</a>
      				</li>
      				

      			</ul>
			</div>
		</div>
	</nav>

    <div class="container">
        <div class="header">
            <div class="main" layout:fragment="content"></div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
 			<div style="   
 			height:10px;   /* Height of the footer */"
 			id="footer" class="container">
 				<div class="footer" align="right">By Van Duffel C.</div>
 			</div>
		</nav>
    </div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="http://localhost:8080/js/bootstrap.min.js"></script>
</body>
</html>