<div layout:fragment="content" layout:decorator="layout">
	<div class="container">
		<h1>Liste de tous les Users</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<div>Liste des Users</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>Name</td>
							<td>Messages sent</td>
							<td width="150px">Chat Status</td>
							<td width="100px" align="right"><span class="glyphicon glyphicon-cog"></span></td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.name}"></td>
							<td th:text="${user.messagesSent}"></td>
							<td >
								<div class="btn-group">
									
									<!--  Here we check the boolean on Moderator so we can display the present value of the moderator / chatter -->

										<span th:switch="${user.isModerator}">
										 	<span th:case="true">Moderator</span>
											<span th:case="false">Chatter</span>
										</span>
									<div class="dropdown-menu" aria-labelledby="dropdownMenu">
										
										<form th:action="@{/upModerator/{id}(id=${user.name})}" method="post">
											<button class="dropdown-item" type="submit" name="user"
												value="chatter" class="btn btn-primary btn-block">Chatter</button>
											<button class="dropdown-item" type="submit" name="user"
												value="mod" class="btn btn-primary btn-block">Moderator</button>
										</form>
									</div>
								</div>
							</td>
							<td>
								<div class="btn-group">
									<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false"> Action <span class="caret"></span>
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenu" id="dropdownmenu">

									<form th:action="@{/deleteUser/{id}(id=${user.name})}" method="post">
										<button type="submit" value="Submit" class="btn btn-primary btn-block">Delete</button>
									</form>
									<form th:action="@{/upModerator/{id}(id=${user.name})}" method="post">
										<span th:switch="${user.isModerator}">
											<button th:case="true" class="dropdown-item" type="submit" name="user"
												value="chatter" class="btn btn-primary btn-block"> Set as Chatter</button>
											<button th:case="false" class="dropdown-item" type="submit" name="user"
												value="mod" class="btn btn-primary btn-block">Set as Moderator</button>
										</span>
									</form>
								</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<h1>Liste de tous les Events</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<div>Liste des Events</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>ID</td>
							<td>Date</td>
							<td>Description</td>
							<td width="150px">Total participants</td>
							<td width="100px" align="right"><span class="glyphicon glyphicon-cog"></span></td>
						</tr>
					</thead>
					<tbody>

						<tr th:each="event : ${events}">
							<td th:text="${event.id}">001</td>
							<td th:text="${event.date}">2000/02/01</td>
							<td th:text="${event.description}">Description basique <span><button>test</button></span></td>
							<td th:text="${#lists.size(event.users)}"></td>
							<td>
								<div class="btn-group">
								
									<!-- Facade Action button -->
									<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false"> Action <span class="caret"></span>
									</button>

									<div class="dropdown-menu">

										<!-- Edit Button -->
										<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal" value="Edit"
											name="Edit">Edit</button>
											
										<!-- DisplayList Button -->
										<form th:action="@{/displayEvent/{id}(id=${event.id})}"  method="post">
											<button type="submit" name="Display" value="Display" class="btn btn-primary btn-block">Display Participants</button>
										</form>
						
										<!-- Delete Button -->
										<form th:action="@{/deleteEvent/{id}(id=${event.id})}" method="post">

											<button type="submit" name="Delete" value="Delete"
												class="btn btn-primary btn-block">Delete</button>
										</form>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

			<!-- Modal -->
									
<div id="myModal" class="modal fade" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">

			<!-- Modal content-->
											
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
			<form id="edit-form" th:action="@{/modifyEvent/}" method="POST" name="editform">
	
				<div class="modal-body">
					<div class="form-group">
						<label for="id" class="control-label">id:</label>
						<input type="number" class="form-control" id="recipient-name" name="id" placeholder="12">
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Date:</label>
						<input type="datetime-local" class="form-control" id="recipient-name" name="date" placeholder="2020 19 12 15 00">
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">Description:</label>
						<textarea class="form-control" id="message-text" name="description" placeholder="Réunion commerciale"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" name="Update" value="Update" class="btn btn-primary">Send modifications</button>
				</div>
			</form>
	
	</div>


	</div>
</div>
									
					