<div layout:fragment="content" layout:decorator="layout">
	<div class="container">
		<h1>Liste de tous les Users</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<div>Liste des Users</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>Name</td>
							<td>Messages sent</td>
							<td>Moderator</td>
							<td><span class="glyphicon glyphicon-cog"></span></td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.name}">test</td>
							<td th:text="${user.messagesSent}">0</td>
							<td>
								<div class="btn-group">
									<!--  Here we check the boolean on Moderator so we can display the present value of the moderator / chatter -->
									<button type="button" class="btn btn-primary">
										<span th:switch="${user.isModerator}">
										 <span th:case="true">Moderator</span>
										 <span th:case="false">Chatter</span>
										</span>
									</button>
									
									<!-- Expanded button for changing Chatter <-> Moderator -->
									
									<button type="button" id="dropdownMenu"
										class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenu">
										<form th:action="@{/upModerator/{id}(id=${user.name})}"
											method="post">
											<button class="dropdown-item" type="submit" name="user"
												value="chatter" class="btn btn-primary">Chatter</button>
											<button class="dropdown-item" type="submit" name="user"
												value="mod" class="btn btn-primary">Moderator</button>
										</form>
									</div>
								</div>
							</td>
							<td>
								<form th:action="@{/deleteUser/{id}(id=${user.name})}"
									method="post">
									<button type="submit" value="Submit" class="btn btn-primary">Delete</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<h1>Liste de tous les Events</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<div>Liste des Events</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>ID</td>
							<td>Date</td>
							<td>Description</td>
							<td><span class="glyphicon glyphicon-cog"></span></td>
						</tr>
					</thead>
					<tbody>

						<tr th:each="event : ${events}">
							<td th:text="${event.id}">001</td>
							<td th:text="${event.date}">2000/02/01</td>
							<td th:text="${event.description}">Description basique <span><button>test</button></span></td>
							<td>
								<div class="btn-group">
								
									<!-- Facade Action button -->
									
									<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false"> Action <span class="caret"></span>
									</button>

									<div class="dropdown-menu">

										<!-- Edit Button -->
										
										
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" value="Edit"
												name="Edit">Edit</button>
												
						
											<!-- Delete Button -->
											
										<form th:action="@{/deleteEvent/{id}(id=${event.id})}" method="post">

											<button type="submit" name="Delete" value="Delete"
												class="btn btn-primary">Delete</button>
										</form>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
			<!-- Modal -->
									
<div id="myModal" class="modal fade" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">

			<!-- Modal content-->
											
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
			<form id="edit-form" th:action="@{/modifyEvent/}" method="POST" name="editform">
	
	<div class="modal-body">
		<div class="form-group">
			<label for="id" class="control-label">id:</label>
			<input type="number" class="form-control" id="recipient-name" name="id">
		</div>
		<div class="form-group">
			<label for="recipient-name" class="control-label">Date:</label>
			<input type="datetime-local" class="form-control" id="recipient-name" name="date">
		</div>
		<div class="form-group">
			<label for="message-text" class="control-label">Description:</label>
			<textarea class="form-control" id="message-text" name="description"></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="submit" name="Update" value="Update" class="btn btn-primary">Send modifications</button>
	</div>
			</form>
	
</div>


	</div>
</div>

											
					