<div layout:fragment="content" layout:decorator="layout">
	<div class="container">
		<h1>Liste de tous les Users</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<div>Liste des Users</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>Name</td>
							<td>Messages sent</td>
							<td>Moderator</td>
							<td><span class="glyphicon glyphicon-cog"></span></td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.name}">test</td>
							<td th:text="${user.messagesSent}">0</td>
							<td>
								<div class="btn-group">
									<button type="button" class="btn btn-primary">Chatter</button>
									<button type="button" class="btn btn-primary dropdown-toggle"
										data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Moderator</a></li>
									</ul>
								</div>	
							</td>
							<td>
								<form th:action="@{/deleteUser/{id}(id=${user.name})}" method="post">
									<button type="submit" value="Submit" class="btn btn-primary">Delete</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<h1>Liste de tous les Events</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<div>Liste des Events</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>ID</td>
							<td>Date</td>
							<td>Description</td>
							<td>Action</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="event : ${events}">
							<td th:text="${event.id}">001</td>
							<td th:text="${event.date}">2000/02/01</td>
							<td th:text="${event.description}">test</td>
							<td>
								<form th:action="@{/deleteEvent/{id}(id=${event.id})}"
									method="post">
									<button type="submit" value="Submit" class="btn btn-primary">Delete</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>